* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  list-style: none;
}

#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #gameboard-canvas {
    width: 100%;
    height: 100%;
    background: white;
  }

}

.buttons {
  position: absolute;
  top: 10px;
  left: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}