@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: metal;
  src: url('/fonts/square_metall-7.ttf');
}

p {
  font-family: metal;
  color: whitesmoke;
}

body {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  list-style: none;
}

#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #gameboard-canvas {
    width: 100%;
    height: 100%;
    background: white;
  }

}

#init-room {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 100%;
  position: absolute;
  z-index: 2;
  top: 0;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5vw 1vw;
  max-height: 2vh;

  .container-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 5;
  }
}

.data-container {
  align-self: start;
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.profile-picture {
  padding: 0.25rem;
  width: 30vw;
  aspect-ratio: 4/3;
}

#left-profile-picture {
  left: 1vw;
  clip-path: polygon(100% 0%, 100% 100%, 45% 100%, 35% 90%, 0 90%, 0 0);
  background: linear-gradient(#7b3306, oklch(82.8% 0.189 84.429));
}

#right-profile-picture {
  right: 1vw;
  clip-path: polygon(100% 0%, 100% 90%, 65% 90%, 55% 100%, 0 100%, 0 0);
  background: linear-gradient(#7b3306, oklch(82.8% 0.189 84.429));
}

.image-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
}

.profile-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.turn-and-eliminated {
  padding: 0 2vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: start;
  gap: 5vw;
  flex: 1;

  .eliminated {
    display: flex;
    align-items: center;
    gap: 0.5vw;

    .circle {
      width: 0.75rem;
      height: 0.75rem;
      background: linear-gradient(oklch(55.5% 0.163 48.998), oklch(55.5% 0.163 48.998));
      border-radius: 50%;
    }

    .dead {
      background: linear-gradient(oklch(20.8% 0.042 265.755), oklch(20.8% 0.042 265.755))
    }
  }

  .turn-count-number {
    font-size: 1.25rem;
    font-style: italic;
    font-weight: bold;
    color: oklch(66.6% 0.179 58.318);
    text-shadow: 0.1vw 0.1vw 0.5vw oklch(20.8% 0.042 265.755);

  }

}


.bakugan-previews-container {
  position: relative;
  width: 100%;
  aspect-ratio: 3/4;
  padding: 0.25rem;
  background: oklch(82.8% 0.189 84.429);

  .sprites-preview {
    width: 100%;
    height: 100%;
    background: red;
    display: flex;

    .sprite-container {
      position: relative;
      width: 100%;

      .attribut-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .sprite {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }

    }

  }

}

.power-container {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 90%;
  z-index: 2;
  aspect-ratio: 7/2;
  /* background-color: greenyellow; */
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  /* clip-path: polygon(100% 0%, 100% 100%, 35% 100%, 30% 80%, 0 80%, 0 0); */
  padding-right: 2vw;

  .attribut-image-container {
    width: 25%;
    aspect-ratio: 1/1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5vw;

    .attribut-image {
      border: white solid;
      border-width: 2px;
      border-radius: 50%;
    }
  }

  p {
    color: white;
    font-size: 2rem;
    line-height: 0;
    background: red;
    text-align: right;
  }
}

.power-container::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  clip-path: polygon(100% 0%, 100% 100%, 35% 100%, 30% 80%, 0 80%, 0 0);
  background: oklch(82.8% 0.189 84.429);
  z-index: -1;
}

.power-container::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  clip-path: polygon(100% 0%, 100% 100%, 35% 100%, 30% 80%, 0 80%, 0 0);
  background: linear-gradient(oklch(43.2% 0.095 166.913), oklch(69.6% 0.17 162.48));
  z-index: -1;
}

#add-bakugan {
  left: 25% !important;
}

@media (width >=48rem
  /* 768px */
) {

  .eliminated {
    gap: 1vw !important;
  }

  .profile-picture {
    width: 20vw;
  }

  .turn-count-number {
    font-size: 4.5rem !important;
  }

  .power-container {
    padding-right: 1vw;

    p {
      font-size: 2.25rem !important;
    }
  }
}

@media (width >=64rem
  /* 1024px */
) {

  .eliminated {
    gap: 2vw !important;
  }

  .profile-picture {
    width: 15vw;
  }

  .circle {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }

  .turn-count-number {
    font-size: 6rem !important;
  }

  .power-container {
    padding-right: 0.5vw;

    p {
      font-size: 3rem !important;
    }
  }

  .select-one {
    padding: 0 !important;
    align-items: center !important;

    .bakugan-selecter {
      .image-bakugan-selecter-container {
        height: 30vh !important;
      }
    }

  }

  .skip-or-confirm-button {
    width: 5vw !important;
  }
}

.buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  justify-content: space-between;
  /* background: red; */
  gap: 2vw;

}

/* SELECT ONE */
.select-one {
  padding: 5vw 5vw;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  gap: 3vw;
  flex-wrap: wrap;

  .stack-container {
    transform: translateX(20%) translateY(50%);
    position: relative;
    height: 30%;
    aspect-ratio: 2/3;
  }

  .card-selecter {
    place-self: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 2/3;

    .gate-card-background {
      transition: 0.2s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .card-selecter:hover {
    .gate-card-background {
      transform: translateY(-25%);
    }
  }

  .card-selecter.active {
    .gate-card-background {
      transform: translateY(-25%);
    }
  }

  .card-selecter:nth-child(2) {
    transform: translateX(50%);
  }

  .card-selecter:nth-child(3) {
    transform: translateX(100%);
  }

  .card-selecter:nth-child(4) {
    transform: translateX(150%);
  }

  .card-selecter:nth-child(5) {
    transform: translateX(200%);
  }

  .card-selecter:nth-child(6) {
    transform: translateX(250%);
  }


  .card-selecter:hover::before {
    opacity: 1;
  }

  .skip-or-confirm-button {
    position: absolute;
    z-index: 3;
    bottom: 2vh;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 50% 50%, 25% 0);
    background: red;
    width: 10vw;
    aspect-ratio: 1/1;
  }

  .skip-or-confirm-button::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -25%;
    width: 100%;
    height: 100%;
    background: yellow;
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 50% 50%, 25% 0);

  }

  .hovered-card-description {
    width: 50%;
    position: absolute;
    right: 50%;
    top: 30%;
    transform: translateX(50%) translateY(-30%);
    text-align: center;

    .card-name {
      font-size: 2rem;
      font-weight: bold;
    }
  }


  .skipable:hover {
    animation: buttonPusle 0.5s infinite alternate-reverse ease-in-out;

  }

  .skipable:hover::before {
    animation: buttonPusle 0.5s infinite alternate-reverse ease-in-out;
  }

  .bakugan-selecter {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translateX(-50%) translateY(-75%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;

    .image-bakugan-selecter-container {
      position: relative;
      height: 20vh;
      aspect-ratio: 1/1;

      .bakugan-image-selecter {
        transition: 0.2s;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }

      .bakugan-data {
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        opacity: 0;
      }

    }

    .image-bakugan-selecter-container:hover {
      .bakugan-image-selecter {
        transform: translateY(-20%);
      }

      .bakugan-data {
        animation-delay: 0.2s;
        animation: textFade 0.5s forwards;
      }
    }

  }

}

.select-one::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  background: whitesmoke;
  opacity: 0.5;
}

@keyframes buttonPusle {
  0% {
    /* clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 25% 100%, 50% 50%, 25% 0); */
  }

  100% {
    clip-path: polygon(60% 0, 95% 50%, 60% 100%, 20% 100%, 50% 50%, 20% 0);
  }
}

@keyframes textFade {
  0% {
    opacity: 0;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    transform: translateY(-150%);
  }
}


/* Turn Action CSS */

#next-turn-button {
  position: absolute;
  right: 5vw;
  bottom: 1vw;
  cursor: pointer;

  img {
    max-width: 15vw;
    cursor: pointer;
  }
}

.turn-interface {
  padding-left: 2vw;
  position: absolute;
  bottom: 1vh;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 2vw;
  width: 100%;
  width: 100%;

  .bakugans {
    display: flex;
    gap: 0.5vw;
    align-items: center;
    justify-content: space-between;

    .image-bakugan-selecter-container {
      position: relative;
      height: 15vh;
      aspect-ratio: 1/1;

      .bakugan-image-selecter {
        transition: 0.2s;
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
      }

      .bakugan-data {
        text-align: center;
        font-weight: bold;
        font-size: 1rem;
        opacity: 0;
      }

    }

    .image-bakugan-selecter-container:hover {
      .bakugan-image-selecter {
        transform: translateY(-20%);
      }

      .bakugan-data {
        animation-delay: 0.2s;
        animation: textFade 0.5s forwards;
      }
    }

    .selected-bakugan {
      .bakugan-image-selecter {
        transform: translateY(-20%);
      }
    }
  }

  .stack-container {
    position: relative;
    height: 15vh;
    aspect-ratio: 2/3;
  }

  .card-selecter {
    place-self: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 2/3;

    .gate-card-background {
      transition: 0.2s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }

  .selected-card {
    .gate-card-background {
      transform: translateY(-25%);
    }
  }

  .card-selecter:hover {
    .gate-card-background {
      transform: translateY(-25%);
    }
  }

  .card-selecter.active {
    .gate-card-background {
      transform: translateY(-25%);
    }
  }

  .card-selecter:nth-child(2) {
    transform: translateX(50%);
  }

  .card-selecter:nth-child(3) {
    transform: translateX(100%);
  }

  .card-selecter:nth-child(4) {
    transform: translateX(150%);
  }

  .card-selecter:nth-child(5) {
    transform: translateX(200%);
  }

  .card-selecter:nth-child(6) {
    transform: translateX(250%);
  }

}

@media (width >=48rem
  /* 768px */
) {
  #next-turn-button {
    position: absolute;
    right: 5vw;
    bottom: 1vw;
    cursor: pointer;

    img {
      max-width: 7vw;
      cursor: pointer;
    }
  }

  .turn-interface {
    display: flex;
    flex-direction: row !important;
  }
}