@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: default;
  list-style: none;
}

#gameboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  #gameboard-canvas {
    width: 100%;
    height: 100%;
    background: white;
  }

}

button {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}