# Ignore tous les node_modules
**/node_modules

# Ignore le lock file si tu veux
pnpm-lock.yaml

# Autres dossiers temporaires
dist
.next
.env

# Ignorer l'environnement virtuel Python
.venv

# Caches et fichiers compilés Python
__pycache__/
**/__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/

# Env files
.env
.env.*
apps/*/.env
apps/*/.env.*
